
/* responsive video frame */
.content-container {
  position : relative;
  padding-bottom : 56.25%;
  padding-top : 0px;
  height : 100%;
  overflow : hidden;
  clear : both;
}

.content-container iframe, 
.content-container object, 
.content-container embed {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
}